@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;

}



/* common styles */
.common-p {
    font-size: 16px;
    color: #717275;
}

.secondary-btn {
    background-color: #ffffff;
    padding: 10px 16px;
    margin-top: 28px;

    border-color: 1px solid lightslategray;
    cursor: pointer;

    font-size: 16px;
    font-weight: 700;
}

.secondary-btn a {
    text-decoration: none;
    color: rgba(13, 19, 33, 0.5);
}

/* banner styling */
.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/Hero-bg.png");
    background-position: cover;
    text-align: center;
    height: 550px;


}

.banner img {
    margin-bottom: 40px;
}


.banner-heading {
    font-size: 40px;

}

.banner-p {
    padding: 0px 40px;

    margin-top: 24px;
    margin-bottom: 32px;
    font-size: 16px;
}

.btn-primary {
    margin-bottom: 20px;
    padding: 15px 20px;
    background-color: #0D1321;

    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;

}

.btn-primary a {
    text-decoration: none;
    color: #ffffff;
}


/* why styling */
.why-web {
    margin: 50px auto;
    padding: 80px;
    background-color: rgba(13, 19, 33, 0.02);

    width: 840px;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;
}

.why-web .padding-section {
    width: 900px;

}

.why-web h3 {
    font-size: 28px;
    font-weight: 700;
    color: #0D1321;
    text-align: center;

}

.why-web .web-p {
    text-align: center;
    margin-bottom: 48px;
}

.why-web .web {

    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 40px;
    margin-bottom: 32px;



}

.why-web .web .web-content {
    font-size: 24px;
    color: rgba(13, 19, 33, 0.7);
    padding-right: 0 auto;
}

.web-content h4 {
    margin-bottom: 15px;
}

/* inspiration styling */

.inspiration {
    width: 700px;
    border-radius: 5px;
    margin-left: 250px;

}

.inspiration-content {
    margin-bottom: 30px;
    text-align: center;

}

.inspiration-content h2 {
    margin-bottom: 15px;
}

.inspiration iframe {
    margin-left: 20px;
    width: 80%;
    padding: 30px;
    border: 1px solid rgb(174, 168, 168);
    border-radius: 16px;
}