@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;

}



/* common styles */
.common-p {
    font-size: 16px;
    color: #717275;
}

.secondary-btn {
    background-color: #ffffff;
    padding: 10px 16px;
    margin-top: 28px;

    border-color: 1px solid lightslategray;
    cursor: pointer;

    font-size: 16px;
    font-weight: 700;
}

.secondary-btn a {
    text-decoration: none;
    color: rgba(13, 19, 33, 0.5);
}

/* banner styling */
.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/Hero-bg.png");
    background-position: cover;
    text-align: center;
    height: 550px;


}

.banner img {
    margin-bottom: 40px;
}


.banner-heading {
    font-size: 40px;

}

.banner-p {
    padding: 0px 40px;

    margin-top: 24px;
    margin-bottom: 32px;
    font-size: 16px;
}

.btn-primary {
    margin-bottom: 20px;
    padding: 15px 20px;
    background-color: #0D1321;

    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;

}

.btn-primary a {
    text-decoration: none;
    color: #ffffff;
}


/* why styling */
.why-web {
    margin: 50px auto;
    padding: 80px;
    background-color: rgba(13, 19, 33, 0.02);

    width: 840px;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;
}

.why-web .padding-section {
    width: 900px;

}

.why-web h3 {
    font-size: 28px;
    font-weight: 700;
    color: #0D1321;
    text-align: center;

}

.why-web .web-p {
    text-align: center;
    margin-bottom: 48px;
}

.why-web .web {

    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 40px;
    margin-bottom: 32px;



}

.why-web .web .web-content {
    font-size: 24px;
    color: rgba(13, 19, 33, 0.7);
    padding-right: 0 auto;
}

.web-content h4 {
    margin-bottom: 15px;
}

/* inspiration styling */

.inspiration {
    width: 700px;
    border-radius: 5px;
    margin-left: 250px;

}

.inspiration-content {
    margin-bottom: 30px;
    text-align: center;

}

.inspiration-content h2 {
    margin-bottom: 15px;
}

.inspiration iframe {
    margin-left: 20px;
    width: 80%;
    padding: 30px;
    border: 1px solid rgb(174, 168, 168);
    border-radius: 16px;
}

/* skills */

.target {
    width: 980px;
    margin: 50px auto;
}

.target>h2,
.target>p {
    text-align: center;
}

.target>h2 {
    margin-bottom: 20px;
}

.skills {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 38px 0px;

}

.skill {
    padding: 40px 20px;
}

.skill .skill-img {
    margin-bottom: 10px;
}

.third-btn {
    border: none;
    text-decoration: none;

    margin-top: 10px;
    font-weight: bold;
    font-size: 15px;
    background-color: transparent;


}

.third-btn a {
    color: #0D1321;
}

.card-1 {
    background-color: rgba(255, 76, 30, 0.05);
}

.card-2 {
    background-color: rgba(0, 76, 232, 0.05);
}

.card-3 {
    background-color: rgba(255, 223, 0, 0.05);
}

/* support style */
.support {
    background-image: url('../assets/handshake.jpg');

    background-position: center;
    background-size: cover;
    width: 840px;
    margin: 0 auto;
    padding: 65px;
    border-radius: 16px;
    text-align: center;
    height: 150px;

}

.support h3 {
    font-size: 32px;
    color: #ffffff;
}

.support p {
    color: #ffffff;
    margin-bottom: 20px;

}

.support input[type="text"] {
    height: 20px;
    width: 350px;
    border-radius: 8px;
    border: none;
    padding: 10px;


}

.support input[type="submit"] {
    height: 40px;
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-weight: bold;

}

/* footer styling */
#footer-area {
    margin-top: 50px;
    padding: 20px 250px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(13, 19, 33, 0.03);
}

.footer-logo img {
    padding-right: 10px;
}